# Theme: ALLCAPS
# Version 1.0
# Last Update: 08/17/2026
# License: CC-BY-SA 3.0
# By: Monica G.
# Description: All capital letters for the font and large text size for the title and artist. I merged the fonts Home Video by GGBOTNET and LanaPixel by eishiya using FontForge. Other than that, pretty simple theme! Code is based on my previous themes, specifically bunnyPod and minimal_RTCsync. Icons based on Windows 95 icons.

#--CFG File--

wps: /.rockbox/wps/ALLCAPS.wps
sbs: /.rockbox/wps/ALLCAPS.sbs
iconset: /.rockbox/icons/ALLCAPS.bmp
viewers iconset: /.rockbox/icons/ALLCAPS_viewer.bmp
selector type: bar (inverse)
font: /.rockbox/fonts/14-HomeVideo-CJK.fnt
background color: 000000
foreground color: ffffff
statusbar: off
scrollbar: off
show icons: on
filetype colours: -